<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleMiniGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA1942571EF79BB50089C51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA19426B1EF79BB60089C51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1942761EF79BB60089C51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
